<%= render 'users/header' %>

<<<<<<< HEAD

<h1>ブログ投稿</h1>
<%= form_for(@blog) do |f| %>
   <%=f.text_area :blog %>
 <%= f.submit '投稿する' %>
 <% end %>
=======
<h1>Blogs#new</h1>
<p>Find me in app/views/blogs/new.html.erb</p>
>>>>>>> a6f97cf559db74f324d0664171ea5a5194d8c456
