<%= render 'users/header' %>

<div class="login-body">
	<div id="container">
		<div id="theTarget">
			<div class="image1"></div>
			<div class="image2"></div>
			<div class="image3"></div>
			<div class="image4"></div>
			<div class="image5"></div>
		</div>
	</div>
		<h2>My-Matchingへようこそ！<br>
		素敵なパートナーを見つけましょう</h2>
		<p>このマッチングアプリでは既存のものとは異なりブログ機能がついています。<br>
		既存のアプリではプロフィール・自己紹介文だけでしかその人の人柄を判断できませんでしたが、<br>
		ブログ機能がついたMy-Matchingでは人柄をより深く知ることができます。<br>
		では、幸せの一歩を踏み出しましょう！</p>
	<br>
	<p>上記画像出典：ぱたくそ（https://www.pakutaso.com/）</p>
	<br>
</div>
<%= render 'users/footer' %>