/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header{
    position:relative;
	background-color: #EEEEEE;
	height: 70px;
}

.aikonn {
     position:absolute;
     right:20px;
     top:10px;

}
.logo{
	position:absolute;
	left:40px;
	top:-10px;
}

.login-body{
	text-align: center;
	background-color: #EEFFFF;
}

#error_explanation{
	color: red;
}

/* ---------------------------- */
/* --- ハンバーガーアイコン --- */
/* ---------------------------- */
#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 22;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
  z-index: 20;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 10px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 20px;
}
.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  background-color: black;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: black;
}
/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #EEFFFF;
  color: black;
  width: 20%;
  min-height: 100%;
  display: none;
  z-index: 11;
  border-left: 2px solid #DDDDDD;

}
#sp-menu li{
  text-align: center;
  margin-bottom: 40px;
}
#sp-menu a{
  color: black;
}

footer{
  background-color: #EEEEEE;
  height: 70px;
  text-align: center;

}