// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-back{
  margin: 20px -14px 0 0px ;
}

.left-message{
	text-align: left;
	position: relative;
	padding: 10px;
	left: 3px;
	background-color: #EEEEEE;
	border-radius: 10px;
	display: inline-block;     /* 横幅を自動で変更 */
}

/* beforeで三角を表現 */
.left-message::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -5px;
  top: 3px;
  border-right: 15px solid #EEEEEE;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.balloon{
	text-align: right;
}

.right-message{
	position: relative;
	padding: 10px;
	left: -3px;
	background-color: #CCFFFF;
	border-radius: 10px;
	display: inline-block;     /* 横幅を自動で変更 */
}

/* beforeで三角を表現 */
.right-message::before{
content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -5px;
  top: 3px;
  border-left: 15px solid #CCFFFF;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  }

.center-message{
	text-align: center;
}