// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
	background-color: #EEFFFF;
	border-right: 2px solid #DDDDDD;
}

.sidebar-aikonn{
	padding-left: 15px;
	padding-top: 10px;
}

.image{
	border-radius: 50%;
}

.user-clearfix::after{
	content:"";
	display: block;
	clear: both;
}

.user-aikkon{
	float: left;
}

.user-information{
	padding: 70px  100px;
	float: left;
}

.one-user{
	height:150px;
}
.table-zero-padding > thead > tr > th, .table-zero-padding > thead > tr > td, .table-zero-padding > tbody > tr > th, .table-zero-padding > tbody > tr > td, .table-zero-padding > tfoot > tr > th, .table-zero-padding > tfoot > tr > td {
	padding: 10px 0px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}