// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
	background-color:#CBFFD3;
	border: double black;
	border-radius: 10px;
}

.sidebar-profile{
	background-color:#FFFFAA;
	border: double black;
	border-radius: 50%;

}
.sidebar-aikonn{
	padding-left: 15px;
	padding-top: 10px;
}

.image{
	border-radius: 50%;
	border: 3px solid #00cc00;
}

.user-clearfix::after{
	content:"";
	display: block;
	clear: both;
}

.user-aikkon{
	float: left;
}

.user-information{
	padding: 70px  100px;
	float: left;
}
